<html>
  <head>
    <title>Event Photographers</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    
  </head>

  <body>
   <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Event Photographers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto" id="mynavbar">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/order">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/booknow">Book Now</a>
          </li>
        </ul>
      </div>
    </div>
    <script src="javascript/navbar.js"></script>
  </nav>
  
  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image:url(images/art.jpg)">
          <!-- <div class="carousel-caption d-none d-md-block">
            <h3 class="display-4">Wedding Photography</h3>
          </div> -->
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url(images/baby.jpg)">
          <!-- <div class="carousel-caption d-none d-md-block">
            <h3 class="display-4">Baby Shower</h3>
          </div> -->
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url(images/background.jpg)">
          <!-- <div class="carousel-caption d-none d-md-block">
            <h3 class="display-4">Birthday</h3>
          </div> -->
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>
  </header>
  
  <!-- Page Content -->
  <section class="py-5">
    <div class="container">
      <h1 class="font-weight-light">About Us</h1>
      <p class="lead">The fact that you’re here probably means you’re planning a wedding, which is one of the most exciting times in a person’s life. We’re very happy for you! We’ve worked with many brides and grooms to truly capture the uniqueness and magic of their big day, and if you think a Convey Studios wedding photographer could do that for you as well, please don’t hesitate to call so we can meet in person. Wedding photography in Dallas is our specialty! In fact, click here to find out what your wedding photography style is!</p>
    </div>
  </section>

  <section class="py-6">
    <div class="container">
      <h1 class="font-weight-light">Contact Us</h1>
      <ul class="Contact">
        <li> Krishna</li> 
        <li>Address: 800 W Campbell Rd, Richardson, TX 75080</li>
        <li>Varun</li>
        <li>Address: 800 W Campbell Rd, Richardson, TX 75080</li>
      </ul>

      
    </div>
  </section>
 

  </body>
</html>
